body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {}

.main {
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    font-size: 24px;
}

.block {
    margin: 0 auto;
    max-width: 500px;
    background-color: #6161604f;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.name {
    /* color: #080808; */
    /* text-decoration: none; */
    padding: 3px 10px;
}

.btn {
    border-radius: 10px;
    color: #f0f8ff;
    border: none;
    padding: 7px;
    cursor: pointer;
}

.delete {
    background-color: #ec4545;
    padding: 10px;
}

.create {
    background-color: #3792e8;
    text-decoration: none;
    padding: 10px;
}

input,
textarea {
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
}

a {
    text-decoration: none;
    color: #080808;
}